[submodule "binutils"]
	path = binutils
	url = https://github.com/totalspectrum/binutils-propeller
[submodule "lib"]
	path = lib
	url = https://github.com/totalspectrum/proplib
[submodule "gcc"]
	path = gcc
	url = https://github.com/totalspectrum/gcc-propeller
[submodule "gcc4"]
	path = gcc4
	url = https://github.com/dbetz/propgcc-gcc.git
[submodule "loader"]
	path = loader
	url = https://github.com/dbetz/propeller-load
[submodule "openspin"]
	path = openspin
	url = https://github.com/parallaxinc/OpenSpin.git
[submodule "spin2cpp"]
	path = spin2cpp
	url = https://github.com/totalspectrum/spin2cpp.git
[submodule "spinsim"]
	path = spinsim
	url = https://github.com/parallaxinc/spinsim.git
